@use "product-card/product-card";
@use "product-card/__info/product-card__info";
@use "product-card/__info/__price-section/product-card__price-section";
@use "abstracts/responsiveness";

@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fff5e9;
}

main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
