$borderRadius: 10px;

.product-card {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  border-radius: $borderRadius;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  > img {
    height: 50vh;
    object-fit: cover;
    border-radius: $borderRadius 0 0 $borderRadius;
  }
}
