.product-card__info {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;

    h1 {
        font-family: 'Fraunces', serif;
        font-size: 30px;
    }

    p {
        font-size: 12px;
        color: gray;
    }

    >.product-card__type {
        letter-spacing: 5px;
        text-transform: uppercase;
    }

    >.product-card__name {
        line-height: 30px;
    }

    .product-card__cart-button {
        padding: 10px;
        color: white;
        background-color: hsl(158, 36%, 37%);
        border: none;
        border-radius: 10px;

        img {
            margin-right: 10px;
        }
        * {
            vertical-align: middle;
        }
    }
}